# ============================================================
# Environment Variables - Kafka Spark Streaming Project
# Copy file ini: cp .env.example .env
# ============================================================

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_INPUT=transactions
KAFKA_TOPIC_VALID=transactions_valid
KAFKA_TOPIC_DLQ=transactions_dlq

# Producer Configuration
PRODUCER_INTERVAL_MIN=1      # Minimum interval antar event (detik)
PRODUCER_INTERVAL_MAX=2      # Maximum interval antar event (detik)

# Spark Configuration
SPARK_APP_NAME=TransactionStreamingJob
SPARK_MASTER=local[*]
SPARK_KAFKA_PACKAGE=org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0

# Validation Rules
AMOUNT_MIN=1
AMOUNT_MAX=10000000
VALID_SOURCES=mobile,web,pos

# Watermark
WATERMARK_DELAY=3 minutes

# Window Aggregation
WINDOW_DURATION=1 minute
WINDOW_SLIDE_DURATION=1 minute
